                                /*---##Style Général##---*/

body {
    text-align: center;
}

                              /*---##Style Des Todos##---*/

/*Bouton : Editer le Todo*/
#btnEdit {
  background-color: red;
  height: 1em;
  width: 1em;
    font-size: 2em;
    position: absolute;
    right: 50px;
    color: green;
}
#btnEdit:hover {
    color: lightgreen
}
#btnEdit:active {
    color: white
}

/*Bouton : effacer le Todo*/
#btnErase {
  background-color: lime;
  height: 1em;
  width: 1em;
    font-size: 2em;
    position: absolute;
    right: 20px;
    color: darkred;
}

#btnErase:hover {
    color: red
}
#btnErase:active {
    color: white
}

/* Style d'un Todo validé */
.rayer {
    text-decoration: line-through;
    background-color: lightgrey;
}

/*Style des Todos*/
li {
    background-color: grey;
    left: 10px;
    right: 10px;
    width: auto;
    height: auto;
    padding: 10px;
    padding-top: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 30%;
    margin-right: 30%;
    display: block;
}

.todoSaisie:hover{
  cursor: pointer;
  color: white;
}
/*Style des priorités*/
.urgent {
  color:red;
  background-color: lightgrey;
}
.important{
  color:black;
}

.secondaire{
  color:lightgrey;
}
                            /*---##Style De La Fenêtre Modale##---*/

.modal {
    display: none;
}

#editModal {
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#editTodoName{
  position: relative;
  text-align: center;
}

#closeModal{
  background-color: black;
  cursor: pointer;
  color: dimgrey;
}

#closeModal:hover{
color: white;
}

#closeModal:active{
color:black;
}

#modalContent {
  color: white;
  background-color: black;
  border-radius: 50px;
  width: 30%;
  margin-left: 33.15%;
  margin-top: 15%;
}
